<% @products.flatten.uniq.each do |product| %>
	<div class="productCheckboxes">
		<h3><%= product.title %></h3>
		<ul class="variantList">
			<% variant_count = product.variants.length %>
			<% product.variants.each do |variant| %>
			<li>
				<div class="productVariantCheckbox">
					<%= check_box_tag("product_variant_ids[]", "#{product.id}|#{variant.id}" ) %>
					<% title = (variant.title == "Default") ? product.title : variant.title %>
					<label for="product_variants"><%= title %></label>
				</div>
			</li>
			<% end #each %>
		</ul>
	</div>
<% end #each %>
