h1 a.light_bg {
  color: #333;
}

table{
  border-spacing: 0px;
  margin: 10px;
}

table tbody tr:last-child td{
  border-bottom: none;
}
table tbody tr td {
  border-bottom: dotted 1px #333;
  height: 1.2em;
  padding-left: 10px;
  padding-right: 10px;
}

table thead {
  border-bottom: solid 2px #666;
}

table thead tr td {
  border-right: none;
  border-left: solid 1px #000;
  border-bottom: solid 1px #000;
  font-weight: bold;
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
table thead tr td:first-child { border-left: none;}

ul.variantList {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

ul.variantList li {
	list-style-type: none;
	margin: 0px 0px 0px 15px;
	padding: 0px 0px 0px 0px;
}

/* Classes */

.formError {
  color: #ce6e21;
}

.fieldWithErrors input {
  border: 2px solid #ce6e21;
}



/* IDs */

#header h2{
    color: #fffad5;
}

#mainNav em{
  font-weight: bold;
  color: #ededed;
  font-style: normal;
}