table thead tr td {
  font-weight: bold;
}
ul.variantList {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

ul.variantList li {
	list-style-type: none;
	margin: 0px 0px 0px 15px;
	padding: 0px 0px 0px 0px;
}

/* Classes */

.formError {
  color: #ce6e21;
}

.fieldWithErrors input {
  border: 2px solid #ce6e21;
}