<% content_for(:custom_js, javascript_include_tag('variant_select')) %>
<h1 class="blue">Enter Receiving Data</h1>
<div id="receivingForm">
  <div class="box">
    <%= render(:file => "ajax/receiving_items.html.erb")%>
  </div>
</div>