<% content_for(:custom_js, javascript_include_tag('variant_select')) %>
<h1 class="blue">Enter Receiving Data</h1>
<div id="receivingForm">
  <div class=="box">
    <h2 class="blue">Step 1</h2>
    <p>How would you like to select producets for this receiving:</p>
  </div>
  <div class="box">
    <h2 class="blue">Step 2</h2>
    <%= render(:file => "ajax/receiving_items.html.erb")%>
  </div>
</div>