<% content_for(:custom_js, javascript_include_tag('receiving_new')) %>
<h1 class="blue">Enter Receiving Data</h1>

<% form_remote_tag :url => "/ajax/receiving_items", :update => 'receivingForm' do %>
  <div class="box">
	  <table>
  	    <tr>
  		    <td valign="top">
      			<label for="vendors">From:</label>
      		</td>
      		<td>
      			<select id="vendors" name="vendors" size="10">
      				<% @vendor_names.each do |vn| %>
      				<option value="<%= vn %>"><%= vn %></p>
      				<% end #each %>
      			</select>
      		</td>
      		<td valign="top">
      			<label for="product_variants">Variants:</label>
      		</td>
      		<td>
      			<div id="productVariants"></div>
      	    </td>
  	    </tr>
  	</table>
  </div>
  <br />
  <%= submit_tag("Add Checked Variants", :onclick => "start_spinner($('#receivingForm .box .wrapper'))")%>
<% end #form_remote %>
<br />
<div id="receivingForm">
  <div class="box">
    <div class="wrapper">
    <span class="highlight">Select a vendor and at least one variant</span>
    </div>
  </div>
</div>

