body {
  font: 0.8em/1.3em "Lucida Grande", Arial, Arial, sans-serif; 
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

#header {
  background: #2d3337;
  padding: 25px;
  border-top: 5px solid #1f2326;
  border-bottom: 1px solid #252a2e;
}

h1 {
  color: #fffad5;
  font-weight: normal;
  font-size: 24px;
}

#subheader {
  background: #6b6b6b url('../images/subheader-bg.gif') bottom left repeat-x;
  border-bottom: 7px solid #7f7f7f;
  border-top: 1px solid #888;
  padding: 0 12px 6px 0;
  height: 30px;
}

#subheader ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#subheader li {
  float: left;
  padding: 10px 20px 10px 25px;
  border-left: 1px solid #8b8b8b;
  border-right: 1px solid #626262;
  color: #fff;
}

#subheader li:hover {
  background-color: #636363;
  border-right: 1px solid transparent;
  border-left: 1px solid #626262;
  cursor: pointer;
}

#subheader li.current, #subheader li.current:hover {
  background: #7f7f7f url('../images/subheader-current-bg.gif') bottom left repeat-x;
  border-left: 1px solid #8b8b8b;
  border-right: 1px solid #626262;
}

#subheader a {
  color: #fff;
  text-decoration: none;
}

#container {
  width: 90%;
  min-width: 900px;
  margin: 30px auto;
}

a {
  color: #22658b;
  border: none;
}

a:hover {
  color: #359cd7;
}

img {
  border: none;
}

h1 a {
  color: #FFFAD5;
  text-decoration: none;
}

label {
  vertical-align: top;
}

span {
  vertical-align: top;
}

dl {
  margin: 10px 15px;
}

dt {
  margin: 10px 0;
}

dd {
  margin: 5px 0 15px 0;
}

dl input {
  margin: 0 !important;
}

h2.error {
  color: #7e3018;;
}

.clearfix:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.ta-left { text-align: left; }
.ta-right { text-align: right; }
.ta-center { text-align: center; }

.hint {
  color: #aaa;
  font-size: 85%;
}

.note {
  color: #666;
  font-size: 90%;
}

.highlight {
  background: #ffc;
}

/*
 * DASHBOARD
 */
 
.content {
  margin: 0px 20px 10px 20px;
  padding: 0 15px 15px 15px;
}

.content h2 {
  font-size: 200%;
  color: #543F0C;
  background-color: #FFFAD5;
  border-bottom: 1px solid #E4DEB4;
  font-weight: normal;
  padding: 25px 20px;
  margin: 50px 0;
}

#actions {
  width: 85%;
  margin: 0 auto;
}

#actions a {
  color: #822626;
  text-decoration:none;
}

.content h3 {
  color: #22658b;
  margin: 0 0 10px 0;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
}

.content strong {
  color: #000;
}

.content table {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.content table td {
  padding: 10px 0;
}


h1 {
  color: #218BCE;
}

h2, h2 > a {            
  font-size: 15px;
  color: #900;        
  margin-top: 2em;
  margin-bottom: 0.5em;
  text-decoration: none;
}           

h3 {            
  font-size: 12px;
  color: #000;        
  margin-top: 2em;
  margin-bottom: 0.5em;
}           

h4 {
  color: #900;
	font-size: 10px;
	border-top: 1px solid #888;
	padding-top: 5px;
}         

fieldset {
  border: 1px solid #1e80be;    
  margin: 10px 0;
}                       

legend { 
  padding: 2px 5px;
  font-weight: bold;
  background: #218bce;
  border: 1px solid #1e80be;
  color: #fff;
  font-size: 12px;
}

.example>p, pre {
  background: #faf7ea;
  border: 1px solid #e8e6d9;
  padding: 5px;
}

.example pre {
  overflow: auto;
  width: 630px;
  background: #222;
}           

#page {
  width: 900px;
}

#content {
  float: left;
  background-color: white;
  border-bottom:1px solid #E5E5E5;
  border-right:1px solid #E5E5E5;
  padding: 25px;
  width: 650px;
  
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 11px;
  font-weight: normal;
  color: #333;
}             

#content h1 {
  margin-bottom: 30px;
}

#content ul,
#content ol {
  padding-left: 18px;
  line-height: 1.4em;
}

#content ul { 
  list-style: square;
}

#content li {
  margin-top: 1em;
}

#sidebar {
  float: right;
  width: 175px;
}

#footer {
  clear: both;
	padding: 5px 2px;
	color: #999;
	font-size: 9px;
}

#search {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 11px;
}

#search input {
  font-size: 11px;
  margin: 2px;
}

#search-text {width: 170px}

#sidebar ul {
  margin-left: 0;
  padding-left: 0;
}

#sidebar ul ul {
  margin: 10px;
  font-size: 11px;
}

#sidebar ul h3 {
  margin-top: 25px;
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

#sidebar li {
  list-style-type: none;
}

#sidebar ul.links li {
  margin-bottom: 5px;
}

#outtro {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #eee;
	color: #555;
	font-size: 9px;
	padding: 10px;
	margin: 5em 0 0 0;
	text-align: center;
}

#outtro a {
	color: #333;
}

#outtro a:hover {
	color: white;
}          

div.annotation {
  padding-left: 1em;
  border-left: 2px solid #f0f0f0;
}

span.highlight {
	background: #ffc;
}

code {
  display: block;
  margin: 6px 16px 16px 16px;
  padding: 6px;            
  font-size: 12px;
  color: #8998b5;
}             

pre { 
  margin: 0;
}          
 
p.request {
  font-weight: bold;        
}

.normal { color: #eee; }
.string { color: #9fab7a; }
.attribute {color: #9fab7a; }
.tag, .punct { color: #a6824e; }
.entity { color: #d2b578;}
.namespace { color: #8998b5; font-weight: bold; }
.number { font-weight: bold; }
.comment { color: #666; font-style: italic; }



