<ul id="contacts">
  <h1 class="blue">Contact Us</h1>
  <li>If you need <em>support</em>, check out our support page on <%= link_to("Get Satisfaction", "http://getsatisfaction.com/bazaar_consulting/products/bazaar_consulting_instock") %>.</li>
  <li><em>email us</em> at <%= mail_to("instock@bazaarconsulting.com", nil, :replace_at => " AT ", :replace_dot =>" DOT ") %>.</li>
<ul> 
