<h1 class="blue"><strong>inStock</strong> Inventory Management System</h1>
<div class="box wrapper">
  <p>
    Welcome to <em>inStock</em> a more powerful way to manage you shopify inventory... More to come later...
  </p>
</div>