<% content_for(:custom_js, javascript_include_tag('variant_select')) %>
<h1 class="blue">Enter Stock Adjustment Data</h1>

<% form_remote_tag :url => "/ajax/stock_adjustment_items", :update => 'stockAdjustmentForm' do %>
  <div class="box">
	  <table>
  	    <tr>
  		    <td valign="top">
      			<label for="vendors">Vendor:</label>
      		</td>
      		<td>
      			<select id="vendors" name="vendors" size="10">
      				<% @vendor_names.each do |vn| %>
      				<option value="<%= vn %>"><%= vn %></p>
      				<% end %>
      			</select>
      		</td>
      		<td valign="top">
      			<label for="product_variants">Variants:</label>
      		</td>
      		<td>
      			<div id="productVariants"></div>
      	    </td>
  	    </tr>
  	</table>
  </div>
  <br />
  <%= submit_tag("Use Checked Variants", :onclick => "start_spinner($('#stockAdjustmentForm .box .wrapper'))")%>
<% end %>
<br />
<div id="stockAdjustmentForm">
  <div class="box">
    <div class="wrapper">
    <span class="highlight">Select a vendor and at least one variant</span>
    </div>
  </div>
</div>