<h1 class="blue">Stock Audits</h1>
<% if @audits.blank? %>
<div class="box wrapper">
  <em class="note">You have not done any stock audits yet.</em>
</div>
<% else %>

<div class="box wrapper">
  <table>
    <thead>
      <tr><td>Date</td><td>Staff Member</td><td colspan="2">&nbsp;</td></tr>
    </thead>
    <tbody>
      <% @audits.each do |audit| %>
        <tr>
          <td><%= link_to(audit.created_at, :action => 'show', :id => audit.id) %></td>
          <td><%=h audit.created_by %></td>
          <td><%= link_to("X", {:action => 'destroy', :id => audit.id}, :confirm => "Are you sure?", :method => :delete) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<% end %>

<p><%= link_to "Create new stock audit", url_for(:action => :new) %></p>
