<% content_for(:custom_js, javascript_include_tag('receive_shipment')) %>
<h1>Receive Shipment</h1>
<%= form_tag("/warehouse/process_shipment") %>
	<table><tr>
		<td valign="top">
			<label for="vendors">From:</label>
		</td>
		<td>
			<select id="vendors" name="vendors" size="10">
				<% @vendor_names.each do |vn| %>
				<option value="<%= vn %>"><%= vn %></p>
				<% end #each %>
			</select>
		</td>
		<td valign="top">
			<label for="product_variants">Variants:</label>
		</td>
		<td>
			<div id="productVariants"></div>
	    </td>
	</tr></table>
	<p><input type="submit" value="Continue &rarr;"></p>
</form>